NEXT_PUBLIC_API_BASE_URL=
API_PORT=3001
WEB_ORIGIN=http://localhost:3000,http://127.0.0.1:3000
ADMIN_BOOTSTRAP_TOKEN=
MONGO_INITDB_ROOT_USERNAME=llmsniffer
MONGO_INITDB_ROOT_PASSWORD=llmsniffer_dev_password
MONGO_DATABASE=llmsniffer
MONGO_PORT=27017
REDIS_PORT=6379
MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:${MONGO_PORT}/${MONGO_DATABASE}?authSource=admin
REDIS_URL=redis://localhost:${REDIS_PORT}
PROBE_SECRET_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
SCHEDULER_TICK_MS=5000
PROBE_TIMEOUT_MS=30000
PROBE_JOB_LOCK_MS=60000
PROBE_WORKER_CONCURRENCY=10
